.slickgrid_72961 .slick-header-column {
 left: 1000px;
}
.slickgrid_72961 .slick-top-panel {
 height:25px;
}
.slickgrid_72961 .slick-headerrow-columns {
 height:30px;
}
.slickgrid_72961 .slick-cell {
 height:20px;
}
.slickgrid_72961 .slick-row {
 height:25px;
}
.slickgrid_72961 .l0 {
}
.slickgrid_72961 .r0 {
}
.slickgrid_72961 .l1 {
}
.slickgrid_72961 .r1 {
}
.slickgrid_72961 .l2 {
}
.slickgrid_72961 .r2 {
}
.slickgrid_72961 .l3 {
}
.slickgrid_72961 .r3 {
}
.slickgrid_72961 .l4 {
}
.slickgrid_72961 .r4 {
}
.slickgrid_72961 .l5 {
}
.slickgrid_72961 .r5 {
}
.slickgrid_72961 .l6 {
}
.slickgrid_72961 .r6 {
}
.slickgrid_72961 .l7 {
}
.slickgrid_72961 .r7 {
}
.slickgrid_72961 .l8 {
}
.slickgrid_72961 .r8 {
}
.slickgrid_72961 .l9 {
}
.slickgrid_72961 .r9 {
}
.slickgrid_72961 .l10 {
}
.slickgrid_72961 .r10 {
}
.slickgrid_72961 .l11 {
}
.slickgrid_72961 .r11 {
}
.slickgrid_72961 .l12 {
}
.slickgrid_72961 .r12 {
}
