.stashPanel .stashTabContents.currencyStash {
    background-image: url('/image/inventory/StashPanelCurrency.png?1576667670784')
}

.stashPanel .stashTabContents.fragmentStash {
    background-image: url('/image/inventory/StashPanelFragment.png?1576667670784')
}

.stashPanel .stashTabContents.delveStash {
    background-image: url('/image/inventory/StashPanelDelve.png?1576667670784')
}

.stashPanel .stashTabContents.quadStash {
    background-image: url('/image/inventory/QuadStashPanelGrid.png?1576667670780')
}

.stashPanel .stashTabContents.essenceStash {
    background-image: url('/image/inventory/EssenceStashPanelGrid.png?1576667670776')
}

.stashPanel .stashTabContents.divinationStash {
    background: transparent url('/image/inventory/StashPanelDivinationCards.png?1576667670784') repeat-y
}