
<!-- test of menu transplanted from Official GGG Poe Trade -->

<div class="navigation">
	<ul role="tablist" class="nav nav-tabs main">
		<li role="presentation" class="menu-search active">
				<a href="/trade/search/Metamorph" data-target="search" data-toggle="tab">
					<span>Search Listed Items</span>
				</a>
			</li> 
			<li role="presentation" class="menu-exchange">
				<a href="/trade/exchange/Metamorph" data-target="exchange" data-toggle="tab">
					<span>Bulk Item Exchange</span>
				</a>
			</li>
		</ul> 
	<ul role="tablist" class="nav nav-tabs account">
			<li role="presentation" class="menu-about">
				<a href="/trade/about" data-target="about" data-toggle="tab">
					<span>About</span>
				</a>
			</li> 
		<li role="presentation" class="menu-settings">
			<a href="/trade/settings" data-target="settings" data-toggle="tab">
			<span>Settings</span>
			</a>
		</li>
	</ul>
</div>