#alerter {
  /* width: max-content; */
  /* margin: 0 auto; */
  margin-bottom: 10px;
  color: #fff;
}

#alerter a,
#alerter a:visited {
  text-decoration: none;
  padding-left: 0.3em; 
  padding-right: 0.3em; 
  color:yellow;  
}

#alerter a:hover {
  text-decoration: underline;
}

#alerter .icon {
  position: absolute;
  top: 50%;
  left: 0.5em;
  transform: translateY(-50%);
  padding: 7px;
  display: inline-block;     
}

#alerter .message {
	padding-left: 70px;
	padding-right: 60px;
}

#alerter .info,
#alerter .warn,
#alerter .error,
#alerter .success {
	text-align: left;
	padding: 0.1em 0;    
	border-radius: 4px;
	max-width: 500px;
	top: 0px;
	position: relative;
	box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);   
}

#alerter .success {
  background: #14a929;
}

#alerter .info {
  background-color: #0c5aec;
}

#alerter .warn {
  background: #b19b0d;
}

#alerter .error {
  background: #f00;
}

#alerter .info a,
#alerter .info a:visited {
  color: #ffffff;
}

#alerter .warn a,
#alerter .warn a:visited {
  color: #ffffff;
}
#alerter .error {
  background: red;
  color: #ffffff;
  margin: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  /* border has the same color as background because its styling roundish corners*/
  border: 1px solid red;
  border-radius: 6px;
}
#alerter .error a,
#alerter .error a:visited {
  color: #000000;
}

.alert {
	margin-bottom:0.5em;
}