.col-div {
  border: 1px solid grey;
  display: inline-block;
  margin-right: 0.1em;
  margin-bottom:0.1em;
  padding:0.2em;
  border-radius:0.5em;
}

.col-btn {
  /*
  display: inline-block;
  background-color:lightgray;

  max-width: 15px;
  padding:3px;
  margin:0 3px;
  */
}
.col-btn {
    border: 1px solid black;
  margin-right: 2px;
  border-radius:1em;
    color: black;

    padding-left: 5px;
    padding-right: 5px;
 
    background: #f4f4f4;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    transition: all 250ms;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
a {
  text-decoration: none;
}

fieldset {
  border-radius:5px;
      max-width: fit-content;
    width: 400px;
    border-radius: 5px;
    margin-top: 10px;
}













fieldset.group-div {
    max-width: fit-content;
    width: 200px;
    border-radius: 5px;
    margin-top: 21px;
    margin-right: 10px;
    background-color: #616780;
    border: 1px solid #3d4150;
    /* color: #b1caea; */
    height: 70px;
    float: left;
}

.col-div {
    border: 1px solid grey;
    display: inline-block;
    margin-right: 0.1em;
    margin-bottom:0.1em;
    padding:0.2em;
    border-radius:0.5em;
}

a.col-btn {}

a.col-btn {
    border: 1px solid black;
    margin-right: 2px;
    border-radius:1em;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    background: #f4f4f4;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    transition: all 250ms;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

legend a {
    box-shadow: none;
    margin-left: 3px;
    display: none;
}

legend.group-name {
    color: #feffff;
    font-size: 1.2em;
    /* margin-right: 15px; */
    /* margin-bottom: 2px; */
    /* line-height: 0px; */
    position: absolute;
    margin-top: -18px;
}

a legend.group-name {
    /* margin-left: 4px; */
    display: none;
}

div#controls {
    /* clear: left; */
}

div#grid {
    clear: left;
}

.default {
    padding: 1em;
    margin-top: 1em;
}

.load-save {}

.top-controls {
    font-size: 1.3em;
    /* MARGIN: 0 0; */
    /* margin: 2px 20px; */
    width: 50%;
}