



.col-div {
  margin-right: 9px;
  border-radius: 4px;
}
.group-div:first-child {
  margin-right: 43px;
}
div div:first-child {
  /*! margin-right: 22px; */
}
.group-name {
  /*! width: 100em; */
  display: inline-block;
  width: 8em;
  text-align: right;
  margin-right: 1em;
  background: #48434a;
  color: #c4bfbf;
  padding: 0.3em;
  margin-bottom: 0.2em;
  border-radius: 6px;
  margin-left: 0.5em;
}
.col-btn {
  border-radius: 4px;
  /*! padding: 7px; */
  background: #68a22e;
}
.col-btn.select-all-btn {
  margin-right: 4px;
}
.col-btn.select-all-btn {
  background: red;
}
.col-div.off-col {
}
.column-controls.col-div.off-col {
  /*! background-color: #cacaca; */
}
.col-div.on-col {
  /*! background-color: #cacaca; */
}


