
<div id="content">
	<div id="controls">
		<div><a href="javascript:void(0)" class="ctrl-btn clear-filters">Clear Filters</a><a href="javascript:void(0)" class="pane-btn upgrades">Upgrades</a><a href="javascript:void(0)" class="pane-btn refresh-tabs">Refresh/Tabs</a><a href="javascript:void(0)" class="pane-btn select-columns">Select Columns</a>
			<a
			 href="javascript:void(0)" class="ctrl-btn export-csv">Export Csv</a>
				<div style="display:inline-block" class="load-save"><span title="Views are customizable groups of columns" class="view-span">Views:</span>
					<div class="select2-container" id="s2id_autogen3" style="width: 220px;"><a href="javascript:void(0)" class="select2-choice select2-default" tabindex="-1">   <span class="select2-chosen" id="select2-chosen-4">Name Selected Columns</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow" role="presentation"><b role="presentation"></b></span></a>
						<label
						 for="s2id_autogen4" class="select2-offscreen"></label><input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-4" id="s2id_autogen4">
							<div class="select2-drop select2-display-none select2-with-searchbox">
								<div class="select2-search"> <label for="s2id_autogen4_search" class="select2-offscreen"></label> <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list"
									 aria-owns="select2-results-4" id="s2id_autogen4_search" placeholder=""> </div>
								<ul class="select2-results" role="listbox" id="select2-results-4"> </ul>
							</div>
					</div>
					<div tabindex="-1" title="" class="select2-offscreen"></div><a href="javascript:void(0)" class="ls-btn" title="Loads the view with the name">Load</a><a href="javascript:void(0)" class="ls-btn" title="Saves the currently visible columns as a view">Save</a><a href="javascript:void(0)" class="ls-btn" title="Saves the currently visible columns as well as any filters that are currently active">Save+Filters</a>
					<a
					 href="javascript:void(0)" class="ls-btn" title="Deletes the current view">Delete</a>
				</div>
		</div>
		<div style="display:none">
		
		</div>
		<div style="display:none">
			
		</div>
		<div style="">

			<div class="columns-controls"><a href="javascript:void(0)" class="col-btn">All +</a><a href="javascript:void(0)" class="col-btn">All -</a><a href="javascript:void(0)" class="col-btn">Default</a>

				<div class="group-div"><a href="javascript:void(0)" class="col-btn">+</a><a href="javascript:void(0)" class="col-btn">-</a><span class="group-name">General:</span>

					<button style="display:inline-block" title="Location: The name of the character / stash tab that contains the item." class="col-div on-col">loc</button>
					<button style="display:inline-block" title="Rarity: Rarity of the item." class="col-div on-col">rarity</button>
					<button style="display:inline-block" title="DisplayName: The name of the item" class="col-div on-col">name</button>
					<button style="display:inline-block" title="TypeName: The name of the base item type" class="col-div on-col">type</button>
					<button style="display:inline-block" title="Cosmetics: A list of all cosmetic effects applied to the item" class="col-div on-col">cosmetics</button>
					<button style="display:inline-block" title="Sockets: The sockets sorted by number in group, then by color" class="col-div on-col">sockets</button>
					<button style="display:inline-block" title="Misc: Gem level / Items in Stack / # of Sockets /  Map Level" class="col-div off-col">misc</button>
					<button style="display:inline-block" title="Quality: The quality of the item" class="col-div off-col">qual</button>
					<button style="display:inline-block" title="ItemLevel: The item level" class="col-div on-col">ilvl</button>
					<button style="display:inline-block" title="ExplicitModCount: The number of explicit mods on an item" class="col-div off-col">emc</button>
					<button style="display:inline-block" title="CraftedModCount: The number crafted mods on an item" class="col-div off-col">cmc</button>
					<button style="display:inline-block" title="GemKeywords: The keywords on a skill gem" class="col-div off-col">kws</button>
					<button style="display:inline-block" title="TypeLine: The type line of an item" class="col-div off-col">tpeln</button>
				</div>

				<div class="group-div"><a href="javascript:void(0)" class="col-btn">+</a><a href="javascript:void(0)" class="col-btn">-</a><span class="group-name">Score:</span>

					<button style="display:inline-block" title="DefaultScore: An experimental score assigned to assess the desirability of the item" class="col-div off-col">score</button>
					<button style="display:inline-block" title="CustomScore: The result of the user definable score" class="col-div off-col">custom</button>
					<button style="display:inline-block" title="CustomScore2: Score according to semi-strict high value rules (roughly tier 2 and higher)" class="col-div off-col">custom2</button>
				</div>

				<div class="group-div"><a href="javascript:void(0)" class="col-btn">+</a><a href="javascript:void(0)" class="col-btn">-</a><span class="group-name">Defensive:</span>

					<button style="display:inline-block" title="Armour: Armour" class="col-div on-col">AR</button>
					<button style="display:inline-block" title="Evasion: Evasion" class="col-div on-col">EV</button>
					<button style="display:inline-block" title="ArmourPlusEvasion: Armour + Evasion" class="col-div off-col">AR+EV</button>
					<button style="display:inline-block" title="EnergyShield: Energy Shield" class="col-div on-col">ES</button>
					<button style="display:inline-block" title="IncreasedMaxEnergyShield: Increased Max Energy Shield Includes Intelligence Bonus" class="col-div off-col">+%ES</button>
					<button style="display:inline-block" title="IncreasedArmour: Increased Armour Rating" class="col-div off-col">+%AR</button>
					<button style="display:inline-block" title="IncreasedEvasion: Increased Evasion Rating" class="col-div off-col">+%EV</button>
					<button style="display:inline-block" title="BlockChance: Block Chance" class="col-div off-col">blk%</button>
					<button style="display:inline-block" title="IncreasedBlockAndStunRecovery: Increased Block and Stun Recovery" class="col-div off-col">+bsrec</button>
				</div>

				<div class="group-div"><a href="javascript:void(0)" class="col-btn">+</a><a href="javascript:void(0)" class="col-btn">-</a><span class="group-name">Attack:</span>

					<button style="display:inline-block" title="AttacksPerSecond: AttacksPerSecond" class="col-div off-col">aps</button>
					<button style="display:inline-block" title="PlusToAccuracy: Flat bonus to accuracy + dexterity bonus" class="col-div off-col">+acc</button>
					<button style="display:inline-block" title="IncreasedAccuracy: Increased Accuracy Rating" class="col-div off-col">+%acc</button>
					<button style="display:inline-block" title="IncreasedAttackSpeed: Increased Attack Speed" class="col-div off-col">+%as</button>
					<button style="display:inline-block" title="ArrowPierceChance: Chance of Arrows Piercing" class="col-div off-col">+%apc</button>
					<button style="display:inline-block" title="WeaponRange: Weapon Range" class="col-div off-col">+weprng</button>
					<button style="display:inline-block" title="IncreasedStunDurationOnEnemies: Increased Stun Duration on Enemies" class="col-div off-col">+sdure</button>
					<button style="display:inline-block" title="ReducedEnemyStunThreshold: Reduced Stun Threshold" class="col-div off-col">+rest</button>
				</div>

				<div class="group-div"><a href="javascript:void(0)" class="col-btn">+</a><a href="javascript:void(0)" class="col-btn">-</a><span class="group-name">Dps:</span>

					<button style="display:inline-block" title="DpsTotal: Total Dps or Average Damage for Non-Weapons" class="col-div on-col">dps</button>
					<button style="display:inline-block" title="DpsPhysical: Physical Dps or Average Damage for Non-Weapons" class="col-div off-col">pDps</button>
					<button style="display:inline-block" title="DpsElemental: Elemental Dps or Average Damage for Non-Weapons" class="col-div off-col">eDps</button>
					<button style="display:inline-block" title="DpsFire: Fire Dps or Average Damage for Non-Weapons" class="col-div off-col">fDps</button>
					<button style="display:inline-block" title="DpsCold: Cold Dps or Average Damage for Non-Weapons" class="col-div off-col">cDps</button>
					<button style="display:inline-block" title="DpsLightning: Lightning Dps or Average Damage for Non-Weapons" class="col-div off-col">lDps</button>
					<button style="display:inline-block" title="DpsChaos: Chaos Dps or Average Damage for Non-Weapons" class="col-div off-col">xDps</button>
				</div>

				<div class="group-div"><a href="javascript:void(0)" class="col-btn">+</a><a href="javascript:void(0)" class="col-btn">-</a><span class="group-name">AverageDamage:</span>

					<button style="display:inline-block" title="AvgTotal: Total Average Damage " class="col-div off-col">avg</button>
					<button style="display:inline-block" title="AvgPhysical: Physical Average Damage" class="col-div off-col">pAvg</button>
					<button style="display:inline-block" title="AvgFire: Fire Average Damage" class="col-div off-col">fAvg</button>
					<button style="display:inline-block" title="AvgCold: Cold Average Damage" class="col-div off-col">cAvg</button>
					<button style="display:inline-block" title="AvgLightning: Lightning Average Damage" class="col-div off-col">lAvg</button>
					<button style="display:inline-block" title="AvgChaos: Chaos Average Damage" class="col-div off-col">xAvg</button>
				</div>

				<div class="group-div"><a href="javascript:void(0)" class="col-btn">+</a><a href="javascript:void(0)" class="col-btn">-</a><span class="group-name">Requirements:</span>

					<button style="display:inline-block" title="RequiredLevel: Level Required to Equip the Item" class="col-div on-col">rLvl</button>
					<button style="display:inline-block" title="RequiredDex: Dex Required to Equip the Item" class="col-div off-col">rDex</button>
					<button style="display:inline-block" title="RequiredStr: Str Required to Equip the Item" class="col-div off-col">rStr</button>
					<button style="display:inline-block" title="RequiredInt: Int Required to Equip the Item" class="col-div off-col">rInt</button>
					<button style="display:inline-block" title="ReducedRequirements: Reduced Requirements" class="col-div off-col">rreq</button>
				</div>

				<div class="group-div"><a href="javascript:void(0)" class="col-btn">+</a><a href="javascript:void(0)" class="col-btn">-</a><span class="group-name">Efficiency:</span>

					<button style="display:inline-block" title="MagicFind: Total of Increased Item Rarity and Increased Item Quantity" class="col-div on-col">mf</button>
					<button style="display:inline-block" title="IncreasedItemRarity: Increased Rarity of Items Found" class="col-div off-col">iir</button>
					<button style="display:inline-block" title="IncreasedItemQuantity: Increased Quantity of Items Found" class="col-div off-col">iiq</button>
					<button style="display:inline-block" title="IncreasedMoveSpeed: Increased Movement Speed" class="col-div on-col">+%move</button>
					<button style="display:inline-block" title="IncreasedProjectileSpeed: Increased Projectile Speed" class="col-div off-col">+%projSpeed</button>
				</div>

				<div class="group-div"><a href="javascript:void(0)" class="col-btn">+</a><a href="javascript:void(0)" class="col-btn">-</a><span class="group-name">Regen:</span>

					<button style="display:inline-block" title="LifeLeech: Life Leech from Physical Attack Damage" class="col-div off-col">lleech</button>
					<button style="display:inline-block" title="LifeGainOnHit: Life Gain on Hit" class="col-div off-col">lgoh</button>
					<button style="display:inline-block" title="ManaGainOnHit: Mana Gain on Hit" class="col-div off-col">mgoh</button>
					<button style="display:inline-block" title="LifeGainOnKill: Life Gain on Kill" class="col-div off-col">lgok</button>
					<button style="display:inline-block" title="ManaGainOnKill: Mana Gain on Kill" class="col-div off-col">mgok</button>
					<button style="display:inline-block" title="ManaLeech: Mana Leech from Physical Attack Damage" class="col-div off-col">mleech</button>
					<button style="display:inline-block" title="LifeRegen: Life Regeneration Rate" class="col-div off-col">lireg</button>
					<button style="display:inline-block" title="IncreasedManaRegen: Increased Mana Regeneration Rate" class="col-div off-col">+%mareg</button>
					<button style="display:inline-block" title="MinusToManaCostOfSkills: Mana Cost of Skills" class="col-div off-col">-mcos</button>
				</div>

				<div class="group-div"><a href="javascript:void(0)" class="col-btn">+</a><a href="javascript:void(0)" class="col-btn">-</a><span class="group-name">Attributes:</span>

					<button style="display:inline-block" title="PlusLife: Adds this amount of life (includes strength bonus)" class="col-div on-col">+life</button>
					<button style="display:inline-block" title="PlusMana: Adds this amount of mana (includes intelligence bonus)" class="col-div on-col">+mana</button>
					<button style="display:inline-block" title="PlusDex: Adds this amount of dex" class="col-div off-col">+dex</button>
					<button style="display:inline-block" title="PlusStr: Adds this amount of str" class="col-div off-col">+str</button>
					<button style="display:inline-block" title="PlusInt: Adds this amount of int" class="col-div off-col">+int</button>
				</div>

				<div class="group-div"><a href="javascript:void(0)" class="col-btn">+</a><a href="javascript:void(0)" class="col-btn">-</a><span class="group-name">Resists:</span>

					<button style="display:inline-block" title="PlusTotalResist: The total amount of resistance" class="col-div on-col">+SRes</button>
					<button style="display:inline-block" title="PlusMaxResist: The highest amount of resistance" class="col-div off-col">+MRes</button>
					<button style="display:inline-block" title="PlusFireResist: The amount of fire resistance" class="col-div on-col">+fRes</button>
					<button style="display:inline-block" title="PlusColdResist: The amount of cold resistance" class="col-div on-col">+cRes</button>
					<button style="display:inline-block" title="PlusLightningResist: The amount of lightning resistance" class="col-div on-col">+lRes</button>
					<button style="display:inline-block" title="PlusChaosResist: The amount of chaos resistance" class="col-div off-col">+xRes</button>
				</div>

				<div class="group-div"><a href="javascript:void(0)" class="col-btn">+</a><a href="javascript:void(0)" class="col-btn">-</a><span class="group-name">Crit:</span>

					<button style="display:inline-block" title="IncreasedCritChance: Increased Critical Strike Chance" class="col-div on-col">+%crit</button>
					<button style="display:inline-block" title="IncreasedCritChanceSpells: Increased Critical Strike Chance For Spells" class="col-div on-col">+%spCrit</button>
					<button style="display:inline-block" title="IncreasedGlobalCritChance: Increased Global Critical Strike Chance" class="col-div on-col">+%gcc</button>
					<button style="display:inline-block" title="IncreasedGlobalCritMult: Increased Global Critical Strike Multiplier" class="col-div on-col">+%gcm</button>
				</div>

				<div class="group-div"><a href="javascript:void(0)" class="col-btn">+</a><a href="javascript:void(0)" class="col-btn">-</a><span class="group-name">Spells:</span>

					<button style="display:inline-block" title="IncreasedCastSpeed: Increased Cast Speed" class="col-div on-col">+%cast</button>
					<button style="display:inline-block" title="IncreasedSpellDamage: Increased Spell Damage" class="col-div on-col">+%spDmg</button>
					<button style="display:inline-block" title="IncreasedElementalSpellDamage: Increased Elemental Damage + Spell Damage" class="col-div off-col">+%spElDmg</button>
					<button style="display:inline-block" title="IncreasedFireSpellDamage: Increased Fire Damage + Elemental Damage + Spell Damage" class="col-div off-col">+%spFDmg</button>
					<button style="display:inline-block" title="IncreasedColdSpellDamage: Increased Cold Damage + Elemental Damage + Spell Damage" class="col-div off-col">+%spCDmg</button>
					<button style="display:inline-block" title="IncreasedLightningSpellDamage: Increased Lightning Damage + Elemental Damage + Spell Damage" class="col-div off-col">+%spLDmg</button>
					<button style="display:inline-block" title="IncreasedChaosSpellDamage: Increased Chaos Damage + Spell Damage" class="col-div off-col">+%spXDmg</button>
				</div>

				<div class="group-div"><a href="javascript:void(0)" class="col-btn">+</a><a href="javascript:void(0)" class="col-btn">-</a><span class="group-name">DamageToSpells:</span>

					<button style="display:inline-block" title="AddsDamageToSpells: Adds Damage To Spells" class="col-div off-col">+DmgToSp</button>
					<button style="display:inline-block" title="AddsFireDamageToSpells: Adds Fire Damage To Spells" class="col-div off-col">+FDmgToSp</button>
					<button style="display:inline-block" title="AddsColdDamageToSpells: Adds Cold Damage To Spells" class="col-div off-col">+CDmgToSp</button>
					<button style="display:inline-block" title="AddsLightningDamageToSpells: Adds Lightning Damage To Spells" class="col-div off-col">+LDmgToSp</button>
					<button style="display:inline-block" title="AddsChaosDamageToSpells: Adds Chaos Damage To Spells" class="col-div off-col">+XDmgToSp</button>
				</div>

				<div class="group-div"><a href="javascript:void(0)" class="col-btn">+</a><a href="javascript:void(0)" class="col-btn">-</a><span class="group-name">IncreasedDamage:</span>

					<button style="display:inline-block" title="IncreasedElementalDamage: Increased Elemental Damage" class="col-div off-col">+%eleDmg</button>
					<button style="display:inline-block" title="IncreasedElementalDamageWithWeapons: Increased Elemental Damage With Weapons" class="col-div off-col">+%eleWDmg</button>
					<button style="display:inline-block" title="IncreasedFireDamage: Increased Fire Damage + Elemental Damage" class="col-div off-col">+%fDmg</button>
					<button style="display:inline-block" title="IncreasedColdDamage: Increased Cold Damage + Elemental Damage" class="col-div off-col">+%cDmg</button>
					<button style="display:inline-block" title="IncreasedLightningDamage: Increased Lightning Damage + Elemental Damage" class="col-div off-col">+%lDmg</button>
					<button style="display:inline-block" title="IncreasedChaosDamage: Increased Chaos Damage" class="col-div off-col">+%xDmg</button>
					<button style="display:inline-block" title="IncreasedPhysicalDamage: Increased Physical Damage" class="col-div off-col">+%pDmg</button>
					<button style="display:inline-block" title="IncreasedBleedingDamage: Increased Bleeding Damage" class="col-div off-col">+%blDmg</button>
					<button style="display:inline-block" title="IncreasedBurningDamage: Increased Burning Damage" class="col-div off-col">+%buDmg</button>
					<button style="display:inline-block" title="IncreasedElementalAttackDamage: Increased Elemental Attack Damage" class="col-div off-col">+%eaDmg</button>
				</div>

				<div class="group-div"><a href="javascript:void(0)" class="col-btn">+</a><a href="javascript:void(0)" class="col-btn">-</a><span class="group-name">Gems:</span>

					<button style="display:inline-block" title="IncreasedGemLevelBow: Increased Bow Gem Level " class="col-div off-col">+gBow</button>
					<button style="display:inline-block" title="IncreasedGemLevelMinion: Increased Minion Gem Level " class="col-div off-col">+gMinion</button>
					<button style="display:inline-block" title="IncreasedGemLevelMelee: Increased Melee Gem Level " class="col-div off-col">+gMelee</button>
					<button style="display:inline-block" title="IncreasedGemLevelSupport: Increased Support Gem Level " class="col-div off-col">+gSupport</button>
					<button style="display:inline-block" title="IncreasedGemLevelAny: Increased Any Gem Level " class="col-div off-col">+gAny</button>
					<button style="display:inline-block" title="IncreasedGemLevelFire: Increased Fire Gem Level " class="col-div off-col">+gFir</button>
					<button style="display:inline-block" title="IncreasedGemLevelCold: Increased Cold Gem Level " class="col-div off-col">+gCol</button>
					<button style="display:inline-block" title="IncreasedGemLevelLightning: Increased Lightning Gem Level " class="col-div off-col">+gLig</button>
					<button style="display:inline-block" title="IncreasedGemLevelStrength: Increased Strength Gem Level " class="col-div off-col">+gStr</button>
					<button style="display:inline-block" title="IncreasedGemLevelDexterity: Increased Dexterity Gem Level " class="col-div off-col">+gDex</button>
					<button style="display:inline-block" title="IncreasedGemLevelIntelligence: Increased Intelligence Gem Level " class="col-div off-col">+gInt</button>
				</div>

				<div class="group-div"><a href="javascript:void(0)" class="col-btn">+</a><a href="javascript:void(0)" class="col-btn">-</a><span class="group-name">FlaskMods:</span>

					<button style="display:inline-block" title="FlaskExtraCharges: Flask Extra Charges" class="col-div off-col">fextrac</button>
					<button style="display:inline-block" title="FlaskChargesUsed: Flask Charges Used" class="col-div off-col">freducc</button>
					<button style="display:inline-block" title="FlaskChargesOnCriticalStrikeGiven: Flask Charges On Critical Strike Given" class="col-div off-col">fsurgeon</button>
					<button style="display:inline-block" title="FlaskLifeRecoveryToMinions: Flask Life Recovery To Minions" class="col-div off-col">fminion</button>
					<button style="display:inline-block" title="FlaskAmountAppliedInstantly: Flask Amount Applied Instantly" class="col-div off-col">f%instant</button>
				</div>

				<div class="group-div"><a href="javascript:void(0)" class="col-btn">+</a><a href="javascript:void(0)" class="col-btn">-</a><span class="group-name">FlaskActions:</span>

					<button style="display:inline-block" title="FlaskDispelsFrozenAndChilled: Flask Dispels FrozenAndChilled" class="col-div off-col">fafreeze</button>
					<button style="display:inline-block" title="FlaskDispelsShocked: Flask Dispels Shocked" class="col-div off-col">fashock</button>
					<button style="display:inline-block" title="FlaskDispelsBurning: Flask Dispels Burning" class="col-div off-col">faburn</button>
					<button style="display:inline-block" title="FlaskRemovesBleeding: Flask Removes Bleeding" class="col-div off-col">fableed</button>
					<button style="display:inline-block" title="FlaskCurseImmunity: Flask Curse Immunity" class="col-div off-col">facurse</button>
					<button style="display:inline-block" title="FlaskKnockback: Flask adds Knockback" class="col-div off-col">fknock</button>
					<button style="display:inline-block" title="FlaskInstant: Flask Instant Recovery" class="col-div off-col">finstant</button>
				</div>
			</div>
		</div>
	</div>
	<div id="grid" class="slickgrid_664945 ui-widget" style="overflow: hidden; outline: 0px; position: relative; height: 0px;">
		<div tabindex="0" hidefocus="" style="position:fixed;width:0;height:0;top:0;left:0;outline:0;"></div>
		<div class="slick-header ui-state-default" style="overflow:hidden;position:relative;">
			<div class="slick-header-columns" style="left: -1000px; width: 2630px;" unselectable="on">
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945loc" title="The name of the character / stash tab that contains the item." style="width: 129px;"><span class="slick-column-name">loc</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945rarity" title="Rarity of the item." style="width: 59px;"><span class="slick-column-name">rarity</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945name" title="The name of the item" style="width: 159px;"><span class="slick-column-name">name</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945type" title="The name of the base item type" style="width: 99px;"><span class="slick-column-name">type</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945cosmetics" title="A list of all cosmetic effects applied to the item" style="width: 79px;"><span class="slick-column-name">cosmetics</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945sockets" title="The sockets sorted by number in group, then by color" style="width: 99px;"><span class="slick-column-name">sockets</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945ilvl" title="The item level" style="width: 49px;"><span class="slick-column-name">ilvl</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945AR" title="Armour" style="width: 49px;"><span class="slick-column-name">AR</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945EV" title="Evasion" style="width: 49px;"><span class="slick-column-name">EV</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945ES" title="Energy Shield" style="width: 49px;"><span class="slick-column-name">ES</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945dps" title="Total Dps or Average Damage for Non-Weapons" style="width: 49px;"><span class="slick-column-name">dps</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945rLvl" title="Level Required to Equip the Item" style="width: 49px;"><span class="slick-column-name">rLvl</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945mf" title="Total of Increased Item Rarity and Increased Item Quantity" style="width: 49px;"><span class="slick-column-name">mf</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945+%move" title="Increased Movement Speed" style="width: 49px;"><span class="slick-column-name">+%move</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945+life" title="Adds this amount of life (includes strength bonus)" style="width: 49px;"><span class="slick-column-name">+life</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945+mana" title="Adds this amount of mana (includes intelligence bonus)" style="width: 49px;"><span class="slick-column-name">+mana</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945+SRes" title="The total amount of resistance" style="width: 49px;"><span class="slick-column-name">+SRes</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945+fRes" title="The amount of fire resistance" style="width: 49px;"><span class="slick-column-name">+fRes</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945+cRes" title="The amount of cold resistance" style="width: 49px;"><span class="slick-column-name">+cRes</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945+lRes" title="The amount of lightning resistance" style="width: 49px;"><span class="slick-column-name">+lRes</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945+%crit" title="Increased Critical Strike Chance" style="width: 49px;"><span class="slick-column-name">+%crit</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945+%spCrit" title="Increased Critical Strike Chance For Spells" style="width: 49px;"><span class="slick-column-name">+%spCrit</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945+%gcc" title="Increased Global Critical Strike Chance" style="width: 49px;"><span class="slick-column-name">+%gcc</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945+%gcm" title="Increased Global Critical Strike Multiplier" style="width: 49px;"><span class="slick-column-name">+%gcm</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945+%cast" title="Increased Cast Speed" style="width: 49px;"><span class="slick-column-name">+%cast</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
				<div class="ui-state-default slick-header-column slick-header-sortable" id="slickgrid_664945+%spDmg" title="Increased Spell Damage" style="width: 49px;"><span class="slick-column-name">+%spDmg</span><span class="slick-sort-indicator"></span>
					<div class="slick-resizable-handle"></div>
				</div>
			</div>
		</div>
		<div class="slick-headerrow ui-state-default" style="overflow:hidden;position:relative;">
			<div class="slick-headerrow-columns" style="width: 1630px;">
				<div class="ui-state-default slick-headerrow-column l0 r0"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l1 r1"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l2 r2"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l3 r3"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l4 r4"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l5 r5"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l6 r6"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l7 r7"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l8 r8"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l9 r9"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l10 r10"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l11 r11"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l12 r12"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l13 r13"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l14 r14"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l15 r15"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l16 r16"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l17 r17"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l18 r18"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l19 r19"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l20 r20"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l21 r21"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l22 r22"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l23 r23"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l24 r24"><input class="header-filter" type="text"></div>
				<div class="ui-state-default slick-headerrow-column l25 r25"><input class="header-filter" type="text"></div>
			</div>
			<div style="display: block; height: 1px; position: absolute; top: 0px; left: 0px; width: 1630px;"></div>
		</div>
		<div class="slick-top-panel-scroller ui-state-default" style="overflow: hidden; position: relative; display: none;">
			<div class="slick-top-panel" style="width:10000px"></div>
		</div>
		<div class="slick-viewport" style="width: 100%; overflow: auto; outline: 0px; position: relative; height: 0px;">
			<div class="grid-canvas" style="height: 38075px; width: 1630px;">
				<div class="ui-widget-content slick-row even" style="top:0px">
					<div class="slick-cell l0 r0">JowixaQueenOfTheDamned x:1 y:1</div>
					<div class="slick-cell l1 r1">rare</div>
					<div class="slick-cell l2 r2">Onslaught Thread</div>
					<div class="slick-cell l3 r3">Arm Belt</div>
					<div class="slick-cell l4 r4"></div>
					<div class="slick-cell l5 r5">W</div>
					<div class="slick-cell l6 r6">76</div>
					<div class="slick-cell l7 r7">330</div>
					<div class="slick-cell l8 r8"></div>
					<div class="slick-cell l9 r9">45</div>
					<div class="slick-cell l10 r10"></div>
					<div class="slick-cell l11 r11">59</div>
					<div class="slick-cell l12 r12"></div>
					<div class="slick-cell l13 r13"></div>
					<div class="slick-cell l14 r14">90</div>
					<div class="slick-cell l15 r15"></div>
					<div class="slick-cell l16 r16">80</div>
					<div class="slick-cell l17 r17"></div>
					<div class="slick-cell l18 r18">45</div>
					<div class="slick-cell l19 r19">35</div>
					<div class="slick-cell l20 r20"></div>
					<div class="slick-cell l21 r21"></div>
					<div class="slick-cell l22 r22"></div>
					<div class="slick-cell l23 r23"></div>
					<div class="slick-cell l24 r24"></div>
					<div class="slick-cell l25 r25"></div>
				</div>
				<div class="ui-widget-content slick-row odd" style="top:25px">
					<div class="slick-cell l0 r0">JowixaQueenOfTheDamned</div>
					<div class="slick-cell l1 r1">rare</div>
					<div class="slick-cell l2 r2">Morbid Leer</div>
					<div class="slick-cell l3 r3">Abyss Jewel</div>
					<div class="slick-cell l4 r4"></div>
					<div class="slick-cell l5 r5"></div>
					<div class="slick-cell l6 r6">70</div>
					<div class="slick-cell l7 r7"></div>
					<div class="slick-cell l8 r8"></div>
					<div class="slick-cell l9 r9"></div>
					<div class="slick-cell l10 r10"></div>
					<div class="slick-cell l11 r11">52</div>
					<div class="slick-cell l12 r12"></div>
					<div class="slick-cell l13 r13"></div>
					<div class="slick-cell l14 r14"></div>
					<div class="slick-cell l15 r15"></div>
					<div class="slick-cell l16 r16"></div>
					<div class="slick-cell l17 r17"></div>
					<div class="slick-cell l18 r18"></div>
					<div class="slick-cell l19 r19"></div>
					<div class="slick-cell l20 r20"></div>
					<div class="slick-cell l21 r21"></div>
					<div class="slick-cell l22 r22"></div>
					<div class="slick-cell l23 r23"></div>
					<div class="slick-cell l24 r24"></div>
					<div class="slick-cell l25 r25"></div>
				</div>
			</div>
		</div>
		<div tabindex="0" hidefocus="" style="position:fixed;width:0;height:0;top:0;left:0;outline:0;"></div>
	</div>
	<div id="item-details" style="display:inline-block">
		<div></div>
		<div></div>
	</div>
</div>