/*
main buttons as book(page)marks with active one as color of wholer page, 
immiting current page
*/

menu-bar menu-item a.view-btn {
    box-shadow: none !important;
    border: 3px solid black;
    border-bottom: 3px solid black;
    /* background: #d6d6d6; */
    color: black;
    padding: 0 21px;
    margin: 0 !important;
    display: inline-block;
    font-size: 1.2em;
    
}

menu-item {
    padding: 0;
    margin: 0;
    display: inline-block;
    /* background: #d6d6d6; */
}

body {
    font-size: 16px;
}

.active {
  /* for view-btn*/
  /* background-color: #42bd41; */
  /* border: 7px solid #00000087 !important; */
  /* margin-bottom: -2px !important; */
  border-bottom: none !important;
  padding: 0px 21px 3px 21px !important;
  background: #d6d6d6;
}