
.chars {

}

.vlist {
    width: 200px;
    height: 300px; 
    overflow-x: hidden;
    overflow-y: scroll;    
}

.vlist a {
    display: block;
}

.tabs {
}


.tabs a:hover {
    /* put some image background maybe*/
    /* background-blend-mode: ? */
    background-image: url();
}

.refresh-pane  {
    /*border-color: #000603;*/
    /*border-width: 1px;*/
    /* border-style: unset;*/
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    display: grid;
    grid-template-columns: 25% 20% 20% 15%;
}
.refresh-pane nav {
    display: grid;
}

a.tab-btn.visible-loot-container:hover {
    /* opacity: 0.5; */
    color: #ffffff;
    /* mix-blend-mode: exclusion !important; */
    background-color: black !important;
}
    a.tab-btn.visible-loot-container:hover:after {
    /* text-align: right; */position: absolute;
    left: 0px;
    content: 'a';
}

.refresh-pane .invisible-loot-container::before {
    content: 'c';
    position: absolute;
    left: 0;
}


.refresh-pane .visible-loot-container {
    border-color: #b3e5fc; 
    border-width: 0 !important; 
    border-style: unset !important; 
    margin-top: 0 !important; 
    margin-bottom: 0 !important; 
}
 
 .view-btn, .ctrl-btn, .pane-btn, .ls-btn, .col-btn, .col-div, .upgrade-btn, .char-btn, .tab-btn, .show-all-btn, .hide-all-btn, .reload-all-btn, .reload-visible-btn, .refresh-characters-btn {
    margin-right: 2px;
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0 !important; 
    margin-bottom: 0 !important; 
    background: #f4f4f4;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    transition: all 250ms;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.refresh-pane > a {
    display: table-row-group;
    position: relative;
    left: 200px;
}