/*select/deselect all buttons*/
.columns-controls >.col-btn {
  display: block;
  width: 5em;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 4em;  
  float: right;
}


/* hide selecting/deselecting all mods buttons*/
.group-div > .col-btn {
  display: none !important;;
}

/* optional */
.group-div {
  /*display: inline-block; */
}

/* start showing mod buttons just while hovering over group-name */
.col-div {
  display:none !important; 
}

.group-name:hover ~ .col-div { 
  display: inline-block !important; 
}

/* change group name to look like buttons*/
.group-name {  
  font-weight: bold;
  font-size: 0.8em;
  display: inline-block;
  width: 110px;
  
  height: 1.5em;
  background-color: white;
  padding: 4px 1px 4px 10px;
  margin: 2px 5px 2px 0;
  border: 1px solid black;
}