.col-div {
  display:none !important; 
}
.group-div > .col-btn {
  display: none !important;;
}

.group-name:hover ~ .col-div { 
  display: inline-block !important; 
}

.group-name {
  
  font-weight: bold;
  display: inline-block;
  width: 150px;
  height: 1.5em;
  background-color: white;
  padding: 4px 1px 4px 10px;
  margin: 1px 5px 1px 0;
  border: 1px solid black;
}