body{
   background: #191a25;
}

.toggle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.toggle input[type="checkbox"]{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -2;
  border: none;
  outline: none;
}

.toggle label{
  width: 70px;
  height: 30px;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background: #292d39;
  transition: background .2s ease-in-out;
}

.toggle label:after{
  content: '';
  width: 30px;
  height: 30px;
  background: #48434a;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -1px;
  transition: all .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.toggle input[type="checkbox"]:checked + label:after{
  left : 42px;
}

.toggle input[type="checkbox"]:checked + label{
  background: #767e86;
}

