.slickgrid_245334 .slick-header-column {
 left: 1000px;
}
.slickgrid_245334 .slick-top-panel {
 height:25px;
}
.slickgrid_245334 .slick-headerrow-columns {
 height:30px;
}
.slickgrid_245334 .slick-cell {
 height:20px;
}
.slickgrid_245334 .slick-row {
 height:25px;
}
.slickgrid_245334 .l0 {
}
.slickgrid_245334 .r0 {
}
.slickgrid_245334 .l1 {
}
.slickgrid_245334 .r1 {
}
.slickgrid_245334 .l2 {
}
.slickgrid_245334 .r2 {
}
.slickgrid_245334 .l3 {
}
.slickgrid_245334 .r3 {
}
.slickgrid_245334 .l4 {
}
.slickgrid_245334 .r4 {
}
.slickgrid_245334 .l5 {
}
.slickgrid_245334 .r5 {
}
.slickgrid_245334 .l6 {
}
.slickgrid_245334 .r6 {
}
.slickgrid_245334 .l7 {
}
.slickgrid_245334 .r7 {
}
.slickgrid_245334 .l8 {
}
.slickgrid_245334 .r8 {
}
.slickgrid_245334 .l9 {
}
.slickgrid_245334 .r9 {
}
.slickgrid_245334 .l10 {
}
.slickgrid_245334 .r10 {
}
.slickgrid_245334 .l11 {
}
.slickgrid_245334 .r11 {
}
.slickgrid_245334 .l12 {
}
.slickgrid_245334 .r12 {
}
.slickgrid_245334 .l13 {
}
.slickgrid_245334 .r13 {
}
.slickgrid_245334 .l14 {
}
.slickgrid_245334 .r14 {
}
.slickgrid_245334 .l15 {
}
.slickgrid_245334 .r15 {
}
.slickgrid_245334 .l16 {
}
.slickgrid_245334 .r16 {
}
.slickgrid_245334 .l17 {
}
.slickgrid_245334 .r17 {
}
.slickgrid_245334 .l18 {
}
.slickgrid_245334 .r18 {
}
.slickgrid_245334 .l19 {
}
.slickgrid_245334 .r19 {
}
.slickgrid_245334 .l20 {
}
.slickgrid_245334 .r20 {
}
.slickgrid_245334 .l21 {
}
.slickgrid_245334 .r21 {
}
.slickgrid_245334 .l22 {
}
.slickgrid_245334 .r22 {
}
.slickgrid_245334 .l23 {
}
.slickgrid_245334 .r23 {
}
.slickgrid_245334 .l24 {
}
.slickgrid_245334 .r24 {
}
.slickgrid_245334 .l25 {
}
.slickgrid_245334 .r25 {
}
