<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		body {
			font-size: 16px;
		}
		.colorBox {
			width: max-content;
			height: 2em;
		}
	</style>
	<script type="text/javascript">
		function copyToClipboard(element) {
			var $temp = $("<input>");
			$("body").append($temp);
			$temp.val($(element).text()).select();
			document.execCommand("copy");
			$temp.remove();
		}
	</script>
</head>
<body>
	<header>PoE tabs Color HEX codes</header>
	<content>
<div id="color" class="colorBox" style="background-color: #DDDDDD;"><a onclick="copyToClipboard('#color')">#DDDDDD</a></div>
<div id="color" class="colorBox" style="background-color: #878787;"><a onclick="copyToClipboard('#color')">#878787</a></div>
<div id="color" class="colorBox" style="background-color: #2A2A2A;"><a onclick="copyToClipboard('#color')">#2A2A2A</a></div>
<div id="color" class="colorBox" style="background-color: #FEFE99;"><a onclick="copyToClipboard('#color')">#FEFE99</a></div>
<div id="color" class="colorBox" style="background-color: #FED500;"><a onclick="copyToClipboard('#color')">#FED500</a></div>
<div id="color" class="colorBox" style="background-color: #FEAA00;"><a onclick="copyToClipboard('#color')">#FEAA00</a></div>
<div id="color" class="colorBox" style="background-color: #EFFE80;"><a onclick="copyToClipboard('#color')">#EFFE80</a></div>
<div id="color" class="colorBox" style="background-color: #BFF400;"><a onclick="copyToClipboard('#color')">#BFF400</a></div>
<div id="color" class="colorBox" style="background-color: #628000;"><a onclick="copyToClipboard('#color')">#628000</a></div>
<div id="color" class="colorBox" style="background-color: #80FE80;"><a onclick="copyToClipboard('#color')">#80FE80</a></div>
<div id="color" class="colorBox" style="background-color: #00BF00;"><a onclick="copyToClipboard('#color')">#00BF00</a></div>
<div id="color" class="colorBox" style="background-color: #004900;"><a onclick="copyToClipboard('#color')">#004900</a></div>
<div id="color" class="colorBox" style="background-color: #80B3FE;"><a onclick="copyToClipboard('#color')">#80B3FE</a></div>
<div id="color" class="colorBox" style="background-color: #0000FE;"><a onclick="copyToClipboard('#color')">#0000FE</a></div>
<div id="color" class="colorBox" style="background-color: #000080;"><a onclick="copyToClipboard('#color')">#000080</a></div>
<div id="color" class="colorBox" style="background-color: #C080FE;"><a onclick="copyToClipboard('#color')">#C080FE</a></div>
<div id="color" class="colorBox" style="background-color: #5800B3;"><a onclick="copyToClipboard('#color')">#5800B3</a></div>
<div id="color" class="colorBox" style="background-color: #260056;"><a onclick="copyToClipboard('#color')">#260056</a></div>
<div id="color" class="colorBox" style="background-color: #FE80DE;"><a onclick="copyToClipboard('#color')">#FE80DE</a></div>
<div id="color" class="colorBox" style="background-color: #CC009A;"><a onclick="copyToClipboard('#color')">#CC009A</a></div>
<div id="color" class="colorBox" style="background-color: #720053;"><a onclick="copyToClipboard('#color')">#720053</a></div>
<div id="color" class="colorBox" style="background-color: #FE8080;"><a onclick="copyToClipboard('#color')">#FE8080</a></div>
<div id="color" class="colorBox" style="background-color: #BF0000;"><a onclick="copyToClipboard('#color')">#BF0000</a></div>
<div id="color" class="colorBox" style="background-color: #560000;"><a onclick="copyToClipboard('#color')">#560000</a></div>
<div id="color" class="colorBox" style="background-color: #FEBF80;"><a onclick="copyToClipboard('#color')">#FEBF80</a></div>
<div id="color" class="colorBox" style="background-color: #BF5B00;"><a onclick="copyToClipboard('#color')">#BF5B00</a></div>
<div id="color" class="colorBox" style="background-color: #7C5132;"><a onclick="copyToClipboard('#color')">#7C5132</a></div>		
	</content>

</body>
</html>