.columns-controls .col-div.on-col {
	color: #090808;
	background-color: #c87c1a;
	/* text-decoration: underline; */
	/* background-image: url(../images/coin16.png); */
	border-radius: 7px 7px 7px;
	/* outline-style: outset; */
	text-shadow: 1px 1px 1px #e8aa19;
}


.columns-controls .col-div.off-col {
	color: black;
	background-color: #203a5b;
	border-radius: 7px 7px 7px;
}

body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	background: #0f172f;
	/* background-image: url("/images/brown-600-45-degree-fabric-light.png"); */
}

.group-name {
	color: #daeaff;
	margin-left: 5px;
}

.col-btn {
	margin-right: 5px;
}

.group-name {
	color: #daeaff;
	margin: 0px 5px 0px 3px;
}


#content {
	color: #74705D;
	text-shadow: 1px 1px 1px #000;
}

h2 {
	color: #d5e9f0;
}

#content {
	padding: 5px;
	color: #868686;
	text-shadow: 1px 1px 2px #000;
}

a {
	text-decoration: none;
	color: #1c8ec6;
}

img#icon {
	width: 30px;
	margin-left: 5px;
	display: inline-block;
	top: 5px;
	position: relative;
}

h4 {
	color: aliceblue;
	/* text-transform: uppercase; */
	font-size: larger;
	text-shadow: 0 0 0 white;
}

textarea {
	background-color: #39404F;
	border: 7px solid #18283e99;
	scrollbar-color: aqua;
	padding-left: 2px;
}
#content {
	padding: 5px;
	color: #868686;
	text-shadow: 1px 1px 2px #000;
	font-size: 1.06em;
	letter-spacing: 0.03em;
}

#alerter .info {
	background: #4dec48;
	color: #0f0b0b;
	font-weight: bold;
	/* margin: 5px; */
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	/* bottom: 0; */
	/* position: absolute; */
	/* left: 0; */
	/* width: 100%; */
	text-align: center;
}

#alerter .info {
	/* background: #91919173; */
	color: #111;
	font-weight: bold;
	/* margin: 5px; */
	/* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
	/* padding-top: 2px; */
	/* padding-bottom: 2px; */
	padding-left: 10px;
	padding-right: 10px;
	/* font-size: 13px; */
	/* bottom: 0; */
	/* position: absolute; */
	/* left: 0; */
	/* width: 100%; */
	text-align: center;
}


textarea {
	background-color: #39404F;
	border: 7px solid #18283e99;
	scrollbar-color: aqua;
	padding-left: 2px;
	margin-left: 3em;
	font-weight: bold;
	color: white;
	letter-spacing: 0.03em;
}


#alerter {
	/* width: max-content; */
	background-color: rgb(68, 204, 172);
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 20px;
	padding-top: 3px;
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<a href="javascript:void(0)" class="fa fa-plus"></a><a href="" class="fa fa-minus"></a>

<a target="_blank" href="#">If you'd like to make overview video: i'll put it here !</a>