.MaterialBtn {
  color: black;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #f4f4f4;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.MaterialBtn:hover {
  background: #c2c2c2;
}
#alerter .info {
  /* background: #0b0b0b; */
  color: #338fdb;
  /* font-weight: bold; */
  /* margin: 5px; */
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  padding-top: 7px;
  padding-bottom: 8px;
  /* padding-left: 10px; */
  margin: 0 -1em;
  /* padding-right: 10px; */
  text-align: center;
  /* border: 1px solid black; */
  border-top: 0;
  border-bottom: 3px solid #131313;
  /* border-radius: 3px; */
}
#alerter .warn {
  background: #ffff00;
  color: black;
  font-weight: bold;
  margin: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#alerter a,
#alerter a:visited {
  color: #ff2d6f;
  text-decoration: none;
}
#alerter .warn a:hover {
  color: pink;
}
#alerter .error {
  background: red;
  color: white;
  font-weight: bold;
  margin: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
